html, body {
	margin: 0;
	max-width: 100%;
    overflow-x: hidden;
}

.full-screen {
	height: 100vh; 
}

#navbar {
	font-size: 1.3vw;
}

#main-background {
	background-image: url('img/mountain.jpg');
	background-repeat: no-repeat;
    background-size: cover;
}

#explore {
	background-color: #3F2E34;
	border-radius: 0%;
	border: none;
}
