html, body {
	margin: 0;
	max-width: 100%;
    overflow-x: hidden;
}

@include media-breakpoint-up(sm){
	html{
		font-size: 1.2 rem;
	}
}

.full-screen {
	height: 100vh; 
}

.maroon {
	background-color: #3F2E34;
}

.explore {
	background-color: #3F2E34;
	border-radius: 0%;
	border: none;
}

.subscribe {
	background-color: white;
	border-radius: 0%;
	border: none;
}

#navbar {
	//font-size: 1.3vw;
}

#main-background {
	background-image: url('img/mountain.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}


#tall-2 {
	background-image: url('img/tall-2.jpg');
	height: 100vh;
	background-size: cover;
}

#wide-3 {
	background-image: url('img/wide-3.jpg');
	height: 100vh;
	background-size: cover;
}

#barranco {
	background-image: url('img/WhatsApp\ Image\ 2018-10-22\ at\ 11.20.36\ PM.jpeg');
	height: 100vh;
	background-size: cover;
}

#barafu {
	background-image: url('img/WhatsApp\ Image\ 2018-10-22\ at\ 11.18.26\ PM.jpeg');
	height: 100vh;
	background-size: cover;
}
#mweka {
	background-image: url('img/WhatsApp\ Image\ 2018-11-03\ at\ 12.56.19\ AM.jpeg');
	height: 100vh;
	background-size: cover;
}

#uhuru {
	background-image: url('img/david-clode-791858-unsplash.jpg');
	height: 100vh;
	background-size: cover;
}

.sponsor-us {
	background-image: url('img/chen-hu-526051-unsplash.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	position: relative;
	min-height: 400px;
}

#sponsor-us{
	position: relative;
	min-height: 30rem;
	background: url('img/chen-hu-526051-unsplash.jpg');
	background-attachment: fixed;
	background-size:cover;
	background-repeat: no-repeat;
	text-align: center;
	color: #fff;
  }

  #contact-us{
	position: relative;
	min-height: 30rem;
	background: url('img/chen-hu-664399-unsplash.jpg');
	background-attachment: fixed;
	background-size:cover;
	background-repeat: no-repeat;
	text-align: center;
	color: #fff;
  }


  #get-notified{
	position: relative;
	min-height: 25rem;
	background: url('img/chen-hu-515134-unsplash.jpg');
	background-attachment: fixed;
	background-size:cover;
	background-repeat: no-repeat;
	text-align: center;
	color: #fff;
  }
  
  .dark-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0,0.7);
  }
  
