html, body {
	margin: 0;
	max-width: 100%;
    overflow-x: hidden;
}

.full-screen {
	height: 100vh; 
}

.maroon {
	background-color: #3F2E34;
}

.explore {
	background-color: #3F2E34;
	border-radius: 0%;
	border: none;
}

.subscribe {
	background-color: white;
	border-radius: 0%;
	border: none;
}

#navbar {
	font-size: 1.3vw;
}

#main-background {
	background-image: url('img/mountain.jpg');
	background-repeat: no-repeat;
    background-size: cover;
}


#tall-2 {
	background-image: url('img/tall-2.jpg');
	height: 100vh;
	background-size: cover;
}

#wide-3 {
	background-image: url('img/wide-3.jpg');
	height: 100vh;
	background-size: cover;
}

#barranco {
	background-image: url('img/WhatsApp\ Image\ 2018-10-22\ at\ 11.20.36\ PM.jpeg');
	height: 100vh;
	background-size: cover;
}

#barafu {
	background-image: url('img/WhatsApp\ Image\ 2018-10-22\ at\ 11.18.26\ PM.jpeg');
	height: 100vh;
	background-size: cover;
}
